:root {
  --primary-color: rgb(148, 136, 247);
  --secondary-color: rgb(203,223,240);
  --elevated-background-color: rgb(255, 255, 255);
  --secondary-elevated-background-color: #f2f4f8;
  --primary-header-color: rgba(26, 26, 26, .7);
  --label-color: rgb(65, 71, 78);
  --input-color: rgba(26, 26, 26, 0.9);
}

[data-theme="dark"] {
  --primary-color: rgb(71, 65, 123);
  --elevated-background-color: rgb(45, 45, 45);
  --secondary-elevated-background-color: rgb(70, 70, 70);
  --primary-header-color: rgb(231, 232, 235);
  --label-color: #c4c8cc;
  --input-color: white;
}

html {
  background-color: var(--primary-color);
}

* {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 5rem;
}

h6 {
  font-size: 3rem;
}

p {
  font-size: 1rem;
}

input {
  font-size: 1rem;
  color: var(--input-color);
  font-weight: 300;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 7vw;
  }
  h3 {
    font-size: 15vw;
  }
  h6 {
    font-size: 10vw;
  }

  p {
    font-size: 3.5vw;
  }
}