@import '../../App.css';

.uiModeSwitchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.uiModeSwitchContainer, .uiModeSwitchContainer * {
    user-select: none;
}

.uiModeSwitch {
    display: flex;
    align-items: center;
    width: 60px;
    height: 25px;
    border-radius: 25px;
    padding: 5px;
    background-color: var(--elevated-background-color);
    transition: background-color 0.2s ease-out;
    outline: none;
}

.switch {
    height: 25px;
    width: 25px;
    border-radius: 12.5px;
    background-color: var(--primary-color);
    transition: transform 0.2s ease-out;
}

.darkSwitch {
    transform: translateX(35px);
}

.modeLabel {
    color: var(--primary-header-color);
    margin-top: 2.5px;
    font-weight: 600;
    font-size: 0.85em;
    transition: color 0.2s ease-out;
}

.modeLabelDark {
    color: white;
}