.paymentFromTo {
    box-sizing: border-box;
    padding: 20px;
}

.innerContainer {
    background-color: rgb(86, 70, 218);
    padding: 20px;
    border-radius: 4px;
}

.text {
    color: rgba(255, 255, 255, 0.9);
    word-break: break-all;
}