@import '../../App.css';

.amountToPayForm {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 20px;
    background-color: white;
    border-radius: 4px;
    margin-top: 20px;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--elevated-background-color);
}