.paymentFromTo {
    box-sizing: border-box;
}

.innerContainer {
    background-color: #f2f4f8;
    padding: 20px;
    border-radius: 4px;
}

.text {
    color: rgb(65, 71, 78);
    word-break: break-all;
}