@import '../../App.css';

.paymentFromTo {
    box-sizing: border-box;
}

.innerContainer {
    background-color: var(--secondary-elevated-background-color);
    padding: 20px;
    border-radius: 4px;
}

.text {
    color: var(--label-color);
    word-break: break-all;
}