.overallGrid {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 70%;
    padding: 10px 0;
    margin-top: 50px;
}

@media screen and (max-width: 800px) {
    .overallGrid {
        flex-direction: column;
        width: 90%;
        margin-top: 0;
    }
}

.paymentForm {
    width: 60%;
    margin-right: 2.5%;
    background-color: white;
    box-shadow: 0 0 0 1px hsl(0deg 0% 69% / 20%), 0 15px 35px 0 rgb(49 49 93 / 25%), 0 5px 15px 0 rgb(0 0 0 / 15%);
    padding: 10px;
    margin-top: 20px;
    border-radius: 4px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.75s ease-out;
}

.payButton {
    background-color: red;
}

@media screen and (max-width: 800px) {
    .paymentForm {
        width: 80%;
        margin: 0 auto;
    }
}

.amountToPayForm {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-left: 2.5%;
    width: 35%;
    opacity: 0;
    transition: opacity 0.75s ease-out;
}

.visible {
    opacity: 1;
}

@media screen and (max-width: 800px) {
    .amountToPayForm {
        width: 70%;
        margin: 0 auto;
    }
}