.generalActionButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1875cd;
    text-align: center;
    color: white;
    height: 52px;
    border-radius: 4px;
}

.generalActionButton:hover {
    cursor: pointer;
}